# Transformação de dados com Pandas

In [2]:
import pandas as pd

#### Extração do arquivo

In [7]:
data = pd.read_csv('./data/historical-senate-predictions.csv', sep=',', encoding='utf-8')

#### Quantidade de linhas x colunas do arquivo

In [12]:
data.shape

(207, 6)

#### A base possui valores duplicados?

In [16]:
data.columns

Index(['state', 'year', 'candidate', 'forecast_prob', 'result', 'winflag'], dtype='object')

In [21]:
data.groupby(['state', 'year', 'candidate']).count()['result']

state                       year  candidate
Alabama                     2008  Figures      1
                                  Sessions     1
                            2010  Barnes       1
                                  Shelby       1
Alaska                      2008  Begich       1
                                              ..
Wyoming                     2008  Rothfuss     1
                            2012  Barrasso     1
                                  Chestnut     1
Wyoming (special election)  2008  Barrasso     1
                                  Carter       1
Name: result, Length: 207, dtype: int64

In [24]:
data2 = data.drop_duplicates()

In [26]:
data.shape

(207, 6)

In [28]:
data.shape

(207, 6)

#### A base possui valores ausentes?

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 206
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          207 non-null    object
 1   year           207 non-null    int64
 2   candidate      207 non-null    object
 3   forecast_prob  207 non-null    float64
 4   result         207 non-null    object
 5   winflag        207 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 11.3+ KB

In [30]:
data.isnull()

     state   year  candidate  forecast_prob  result  winflag
0    False  False      False          False   False    False
1    False  False      False          False   False    False
2    False  False      False          False   False    False
3    False  False      False          False   False    False
4    False  False      False          False   False    False
..     ...    ...        ...            ...     ...      ...
202  False  False      False          False   False    False
203  False  False      False          False   False    False
204  False  False      False          False   False    False
205  False  False      False          False   False    False
206  False  False      False          False   False    False

[207 rows x 6 columns]

In [31]:
data.isnull().any()

state            False
year             False
candidate        False
forecast_prob    False
result           False
winflag          False
dtype: bool

In [32]:
data.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
202    False
203    False
204    False
205    False
206    False
Length: 207, dtype: bool

In [33]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [state, year, candidate, forecast_prob, result, winflag]
Index: []

In [62]:
forecast_ajust = []
for item in data['forecast_prob']:
    forecast_ajust.append(str(item).replace('.',','))

In [64]:
data['forecast_ajust'] = forecast_ajust

In [65]:
data

,state,year,candidate,forecast_prob,result,winflag,forecast_ajust
0,Alabama,2008,Sessions,1.0,Win,1,"1,0"
1,Alabama,2008,Figures,0.0,Lose,0,"0,0"
2,Alabama,2010,Shelby,1.0,Win,1,"1,0"
3,Alabama,2010,Barnes,0.0,Loss,0,"0,0"
4,Alaska,2008,Begich,1.0,Win,1,"1,0"
...,...,...,...,...,...,...,...
202,Wyoming,2008,Rothfuss,0.0,Lose,0,"0,0"
203,Wyoming,2012,Barrasso,1.0,Win,1,"1,0"
204,Wyoming,2012,Chestnut,0.0,Loss,0,"0,0"
205,Wyoming (special election),2008,Barrasso,1.0,Win,1,"1,0"
206,Wyoming (special election),2008,Carter,0.0,Lose,0,"0,0"